{% extends "base.html" %}
{% block content %}
<!--Main Context Area-->
<div class="container" style="margin-right: 290px;"><br>
<h3>About Us</h3><br>
<div class="about-body">
<h4>Hello,</h4>
<p>Open Blog is social platform for create wonderful blogs. Here you can find lots of awesome blogs ,that helps you to increase your reading habit and improve your knowledge. </p>

     <p > Once a blog is indexed in search engines it stays there, meaning your blog can still gain traffic and generate leads weeks, months and even years after. Don’t look for instant leads and hundreds of views, give your blog time to generate interest. Blog topics that are timeless will constantly generate more views month after month, so make sure to write about topics you know will be of interest to your target audience.</p>
      
     
      <p>Blogging allows you to share information about your business and its services but it also allows you to share opinions and thoughts on certain topics.  Blogging is a great way to create a personality for your company and makes your business more credible approachable. So, don’t be afraid to share your interests on your blogs, comment on timely news topics or market trends or educate your readers on a particular topic. Always be sure you write blogs with your audience in mind.</p>

      <center> <a><svg class="bi me-2" width="22" height="22"><use xlink:href="#fb"/></svg></a>
            <a><svg class="bi me-2" width="22" height="22"><use xlink:href="#insta"/></svg></a>
            <a><svg class="bi me-2" width="22" height="22"><use xlink:href="#twitter"/></svg></a></center>
</div>
</div>
{% endblock %}