{% extends "base.html" %}
{% block content %}
<!--Main Context Area-->
<div class="container"><br>
<h3>Top Authors</h3><br>
  <div class="row row-cols-1 row-cols-md-3 g-4">
{%for author in authors%}
    <div class="col">
      <div class="card">
        <img src="../static/profile_pics/{{author.profilepic}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{author.name}}</h5>
          <span class="card-text mb-1"><i class="fa fa-envelope"></i>&nbsp;{{author.email}}</span>
          <span class="card-text"><i class="fa fa-phone"></i>&nbsp;{{author.mobile}}</span>
          
        </div>
      </div>
    </div>
{%endfor%}
  </div>
</div>
<div class="rbar">
  <div class="d-flex flex-column flex-shrink-0 p-3 " style="width: 280px;">


    <h4 style=" margin-bottom:-8px;">Categories</h4>
    <hr style="max-width: 250px;">

    <div class="list-group">
      <a href="{{ url_for('views.category',cat = 'Technology') }}" class=" cat-1 list-group-item list-group-item-action d-flex justify-content-between align-items-center" category-one="Technology">Technology
        <span class="badge rounded-pill">14</span>
      </a>
      <a href="{{ url_for('views.category',cat = 'Entertainment') }}" class=" cat-2 list-group-item list-group-item-action d-flex justify-content-between align-items-center" category-one="Entertainment">Entertainment
        <span class="badge rounded-pill">14</span>
      </a>
      <a href="{{ url_for('views.category',cat = 'Sports') }}" class=" cat-3 list-group-item list-group-item-action d-flex justify-content-between align-items-center">Sports
        <span class="badge rounded-pill">14</span>
      </a>
      <a href="{{ url_for('views.category',cat = 'Economy') }}" class=" cat-4 list-group-item list-group-item-action d-flex justify-content-between align-items-center">Economy
        <span class="badge rounded-pill">14</span>
      </a>
      <a href="{{ url_for('views.category',cat = 'Politics') }}" class="cat-5 list-group-item list-group-item-action d-flex justify-content-between align-items-center">Politics
        <span class="badge rounded-pill">14</span>
      </a>
      <a href="{{ url_for('views.category',cat = 'Lifestyle') }}" class="cat-6 list-group-item list-group-item-action d-flex justify-content-between align-items-center">Life Style
        <span class="badge rounded-pill">14</span>
      </a>
      <a href="{{ url_for('views.category',cat = 'Science') }}" class="cat-7 list-group-item list-group-item-action d-flex justify-content-between align-items-center">Science
        <span class="badge rounded-pill">14</span>
      </a>
    </div>
    </div>
{% endblock %}