{% extends "base.html" %}
{% block content %}
<!--Main Context Area-->
<link href="../static/clean-blog.min.css" rel="stylesheet">
<div class="container"><br>
    <form action="{{ url_for('views.update', p_id = post.post_id ) }}" method="POST">
    <h3>Edit Post</h3><br>
  
    <div class="banner mb-6">
        <input type="file" name="coverimg" accept="image/*" id="banner-upload" onchange="loadFile(event);" hidden>
        <img id="output" src="../static/image/{{post.coverpic}}" alt="" class="cimg" >
        <label for="banner-upload" class="banner-upload-btn"><img src="../static/pics/upload.png" alt="upload banner"></label>
    </div>
    <br><br>
    <!--<div class="control-group">
      <div class="form-group floating-label-form-group controls">
        <label>Cover Image</label>
        <input type="text" class="form-control disabled" name="coverimg" placeholder="Cover Image" value="{{post.coverpic}}" id="title" >
        <p class="help-block text-danger"></p>
      </div>
    </div>-->
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <label>Title</label>
          <input type="text" class="form-control" placeholder="Title" value="{{post.title}}" name="title" id="title" required data-validation-required-message="Please enter a title.">
          <p class="help-block text-danger"></p>
        </div>
      </div>
      <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <label>Subtitle</label>
          <input type="text" class="form-control" placeholder="Subtitle" value="{{post.subtitle}}" name="subtitle" id="subtitle" required data-validation-required-message="Please enter your email address.">
          <p class="help-block text-danger"></p>
        </div>
      </div>

      <div class="control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
          <label>Category</label>
      <select class="form-select form-control" value="{{post.category}}" aria-label="Default select example" name="category" style="color: #777;">
        <option selected value="{{post.category}}">{{post.category}}</option>
        <option value="Technology" >Technology</option>
        <option value="Entertainment" >Entertainment</option>
        <option value="Sports" >Sports</option>
        <option value="Economy" >Economy</option>
        <option value="Politics" >Politics</option>
        <option value="Lifestyle" >Life Style</option>
        <option value="Science" >Science</option>
      </select>
      <p class="help-block text-danger"></p>
    </div></div>


      <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <label>Content</label>
          <textarea rows="12" class="form-control" placeholder="Content" value="" name="content" id="content" required data-validation-required-message="Please enter a message.">{{post.content}}</textarea>
</div></div>
    <button class="btn pbtn text-white" type="submit">Update</button>
    <button class="btn btn-secondary" type="clear">Clear</button>

</form>

</div>
<div class="rbar">
  <div class="d-flex flex-column flex-shrink-0 p-3 " style="width: 280px;">


    <h4 style=" margin-bottom:-8px;">Categories</h4>
    <hr style="max-width: 250px;">

    <div class="list-group">
      <a href="{{ url_for('views.category',cat = 'Technology') }}" class=" cat-1 list-group-item list-group-item-action d-flex justify-content-between align-items-center" category-one="Technology">Technology
        <span class="badge rounded-pill">14</span>
      </a>
      <a href="{{ url_for('views.category',cat = 'Entertainment') }}" class=" cat-2 list-group-item list-group-item-action d-flex justify-content-between align-items-center" category-one="Entertainment">Entertainment
        <span class="badge rounded-pill">14</span>
      </a>
      <a href="{{ url_for('views.category',cat = 'Sports') }}" class=" cat-3 list-group-item list-group-item-action d-flex justify-content-between align-items-center">Sports
        <span class="badge rounded-pill">14</span>
      </a>
      <a href="{{ url_for('views.category',cat = 'Economy') }}" class=" cat-4 list-group-item list-group-item-action d-flex justify-content-between align-items-center">Economy
        <span class="badge rounded-pill">14</span>
      </a>
      <a href="{{ url_for('views.category',cat = 'Politics') }}" class="cat-5 list-group-item list-group-item-action d-flex justify-content-between align-items-center">Politics
        <span class="badge rounded-pill">14</span>
      </a>
      <a href="{{ url_for('views.category',cat = 'Lifestyle') }}" class="cat-6 list-group-item list-group-item-action d-flex justify-content-between align-items-center">Life Style
        <span class="badge rounded-pill">14</span>
      </a>
      <a href="{{ url_for('views.category',cat = 'Science') }}" class="cat-7 list-group-item list-group-item-action d-flex justify-content-between align-items-center">Science
        <span class="badge rounded-pill">14</span>
      </a>
    </div>
    </div>
<script>
    var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
          URL.revokeObjectURL(output.src) // free memory
        }
      };
</script>


{% endblock %}