

{% extends "base.html" %}
<!--Main Context Area-->
{% block content %}
<div class="container">
  <br>
  <div class="card">
    <div class="card-body">
      <center><h2>Publish your passions, your way</h2>
      <em>Create a unique and beautiful blog. It’s easy and free.</em></center>
    </div>
  </div><br>
  
    <div class="row  row-cols-1 row-cols-md-2 g-4" id="tems">
      {% for item in posts %}
      <div class="col">
        <a href="{{ url_for('views.viewpost', p_id = item.post_id) }}">
          <div class="card">
          <div class="img-hover-zoom">
          <img src="../static/image/{{item.coverpic}}" href="#" class="card-img-top" style="z-index: -1;"></div></a>        
          <div class="card-body bg-white" style="z-index:1; margin-top:-100px;">
            <h5 class="card-title ctitle" data-role="search" >{{item.title}}</h5>
            <p class="card-text cont">{{item.content}}</p>
            
            <p class="card-text aname mb-1"><small class="text-muted"><i class="fa fa-user"></i>&nbsp;{{item.aname}}&nbsp;&nbsp;<i class="fa fa-calendar"></i>&nbsp;{{item.post_date}}</small></p>
          

          </div>  
          </div>
        </div>
      
      {%endfor%}
</div></div>
      <div class="rbar">
        <div class="d-flex flex-column flex-shrink-0 p-3 " style="width: 280px;">
      
      
          <h4 style=" margin-bottom:-8px;">Categories</h4>
          <hr style="max-width: 250px;">
      
          <div class="list-group">
            <a href="{{ url_for('views.category',cat = 'Technology') }}" class=" cat-1 list-group-item list-group-item-action d-flex justify-content-between align-items-center" category-one="Technology">Technology
              <span class="badge rounded-pill">14</span>
            </a>
            <a href="{{ url_for('views.category',cat = 'Entertainment') }}" class=" cat-2 list-group-item list-group-item-action d-flex justify-content-between align-items-center" category-one="Entertainment">Entertainment
              <span class="badge rounded-pill">14</span>
            </a>
            <a href="{{ url_for('views.category',cat = 'Sports') }}" class=" cat-3 list-group-item list-group-item-action d-flex justify-content-between align-items-center">Sports
              <span class="badge rounded-pill">14</span>
            </a>
            <a href="{{ url_for('views.category',cat = 'Economy') }}" class=" cat-4 list-group-item list-group-item-action d-flex justify-content-between align-items-center">Economy
              <span class="badge rounded-pill">14</span>
            </a>
            <a href="{{ url_for('views.category',cat = 'Politics') }}" class="cat-5 list-group-item list-group-item-action d-flex justify-content-between align-items-center">Politics
              <span class="badge rounded-pill">14</span>
            </a>
            <a href="{{ url_for('views.category',cat = 'Lifestyle') }}" class="cat-6 list-group-item list-group-item-action d-flex justify-content-between align-items-center">Life Style
              <span class="badge rounded-pill">14</span>
            </a>
            <a href="{{ url_for('views.category',cat = 'Science') }}" class="cat-7 list-group-item list-group-item-action d-flex justify-content-between align-items-center">Science
              <span class="badge rounded-pill">14</span>
            </a>
          </div>
          </div>
        
    
    <h4 style="margin-left:15px; margin-bottom:-8px;">Recommended</h4>
    <hr style="max-width: 250px; margin-left:15px">
  
    {% for item in post %}
    <div class="card mb-3 card-link" style="max-width: 250px; margin-left:15px;">
      <div class="row g-0">
        <div class="col-md-4 row-2">
          <a href="{{ url_for('views.viewpost', p_id = item.post_id) }}">
          <img src="../static/image/{{item.coverpic}}" class="img-fluid rounded-start" alt="...">
        </div></a>
        <div class="col-md-8">
          <div class="card-body">
            <h6 class="card-title ctitle" style="font-size: 13px;">{{item.title}}</h6>
            <p class="card-text cont" style="font-size: 12px;">{{item.content}}</p>
          
          </div>
        </div>
      </div>
    </div>
    {%endfor%}

    </div>
  


<script>
  function search() {
    var input, filter, cards, cardContainer, h5,p, title,content,aname, i;
    input = document.getElementById("searchbar");
    filter = input.value.toUpperCase();
    cardContainer = document.getElementById("tems");
    cards = cardContainer.getElementsByClassName("col");
    for (i = 0; i < cards.length; i++) {
        title = cards[i].querySelector(".card-body h5.card-title");
        content = cards[i].querySelector(".card-body p.card-text");
        aname = cards[i].querySelector(".card-body p.aname");
        if (title.innerText.toUpperCase().indexOf(filter) > -1) {
            cards[i].style.display = "flex";
        } 
        else if (content.innerText.toUpperCase().indexOf(filter) > -1){
          cards[i].style.display = "flex";
        }
        else if (aname.innerText.toUpperCase().indexOf(filter) > -1){
          cards[i].style.display = "flex";
        }
        else {
            cards[i].style.display = "none";
        }
    }
}
</script>
      
{% endblock %}

